<!DOCTYPE html>
<html lang="da">

  <head>
      <% include ../partials/head %>
  </head>

  <body id="page-top">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div class="top-banner-tie"></div>

        <div class="container-fluid p-0">
            <section class="slips-section p-3 p-lg-5 d-flex d-column">
                <div class="my-auto">
                    <h1 class="mb-5">Vores udvalg</h1>
                    <div id="insert" class="row justify-content-around mb-5">

                            <% produkter.forEach(function(data) { %>
                               <div class="card mb-3" style="width: 18rem;">
                                 <a href="/produkt#varenr=<%= data.varenr %>">
                                     <img class="card-img-top" src='/assets/media/<%= data.billede %>' alt='<%= data.type %>'>
                                </a>
                                 <div class="card-body">
                                   <h5 class="card-title"><%= data.navn %></h5>
                                   <footer class="blockquote-footer"><%= data.type %></footer>
                                   <p class="card-text"><%= data.beskrivelse %></p>
                                   <p class="card-text">Pris: <%= data.pris %>,00,-</p>
                                   <a href="/produkt/varenr=<%= data.varenr %>" class="btn btn-primary">Læs mere</a>
                                 </div>
                               </div>
                             <% }) %>

                    </div>
                </div>
            </section>
        </div>
    </main>
    <% include ../partials/scripts %>
  </body>

</html>
